<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eom.dbapp">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".JoinActivity"
            android:label="@string/title_activity_join" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FunctionsActivity"
            android:label="여러 기능들"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListActivity.PreSchoolListActivity"
            android:label="@string/title_activity_functions"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListActivity.KidsCafeListActivity"
            android:label="@string/title_activity_functions"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListActivity.TeacherListActivity"
            android:label="@string/title_activity_functions"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".DetailActivity.DetailPreSchoolActivity" />
        <activity android:name=".DetailActivity.DetailKidsCafeActivity" />
        <activity android:name=".ListActivity.KidsCenterList" />
        <activity android:name=".ListActivity.ElmSchoolListActivity" />
        <activity android:name=".ListActivity.ChildCareCenterListActivity" />
        <activity android:name=".ListActivity.AccidentListActivity" />
        <activity android:name=".ListActivity.TrafficAccidentAreaListActivity" />
        <activity android:name=".ListActivity.WalfareServiceListActivity" />
        <activity android:name=".ListActivity.HospitalListActivity" />
        <activity android:name=".ListActivity.PlayFacilityListActivity" />
        <activity android:name=".ListActivity.SafeAreaListActivity" />
        <activity android:name=".UserInfo" />
        <activity android:name=".DetailActivity.DetailKidsCenterActivity" />
        <activity android:name=".DetailActivity.DetailElmSchoolActivity" />
        <activity android:name=".OthersActivity"></activity>
    </application>

</manifest>